body {
	margin: 0px;
	font-family: sans-serif;
}
:root{
	--dark-green: #004D00;
	--black:#041100;
	
	
}
.block-menu{
	position: absolute;
	width: 30%;
	max-height: 30%;
	background-color: #004d0084;
	z-index: 5;
	margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  display: flex;
  justify-content: center;
    flex-direction: column;
    align-items: center;
}
.snake-head{
	color: #fff;
}
.descr{
	margin: 0;
	color: #fff;
	text-align: center;
	padding: 0 10px;
	max-width: 65%;
	line-height: 20px;

}
.descr2{
	max-width: 70%;
	margin-bottom: 10px;
}
.hide{
	display: none;
}
.start{
	width: 80%;
	max-height: 30px;
	border: none;
	background-color: #9bd79b;
	border-radius: 10px;
}
.start:focus {
	outline-color: #004D00;
	border-color: #004D00;
	color: #fff;
	font-weight: bold;
}
.start:active{
	background-color: #ced79b;

}
.start:hover {
	
	border-color: #004D00;
	color: #fff;
	font-weight: bold;
}


#game {
	background: #353336;
	width: 100vw;
	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#game-canvas {
	display: block;
	border-radius: 5px;	
}

.game-header {
	padding-top: 1vmin;
	padding-bottom: 1vmin;

	display: flex;
	justify-content: space-between;
}
.game-score {
	position: relative;
	padding: 10px 15px;
	min-width: 160px;
	height: 50px;
	background: #0f100ff2;
	border-radius: 10px;

	display: flex;
	justify-content: center;
	align-items: center;
}
.score-count{
	font-size: 3vmin;
	
	font-weight: bold;
}
.count1{
	color: #c81450;
}
.active-second-player .game-score{
	margin-right: 10px;
}
.game-score2,
 .count2{
	display: none;
}
.active-second-player .game-score2{
	display: flex;
}
.active-second-player .count2{
	display: inline-block;
	color: #1464c5;
}
.active-second-player{
	display: flex;
	width: 30%;
    justify-content: space-evenly;
}

.live .dead-inf{
	display: none;
}
.dead-inf{
	position: absolute;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
letter-spacing: 1px;
font-weight: normal;
font-style: normal;
font-variant: normal;
text-transform: lowercase;
right: 15px;
bottom: 0px;

}
.game-score1 .dead-inf{
	color:#c81450;
}
.game-score2 .dead-inf{
	color:#1464c5;
}

.canvas-wrapper {
	background-color: #0f100ff2;
	border-radius: 10px;
	border: 15px solid var(--dark-green);
	box-shadow: inset 0px 0px 70px 10px var(--black);
	background:
    radial-gradient(rgb(0, 0, 0) 2px, transparent 2px) left top/16px 16px;
    


}
